/* ==========================================================================
   COMPONENTS/BUTTON
   ========================================================================== */


.c-button {
  position: relative;
  background-color: transparent;
  font: inherit;
  margin: 0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.c-button:hover,
.c-button:focus,
.c-button:active {
  text-decoration: none;
}
