/* ==========================================================================
   OBJECTS/WRAPPER
   ========================================================================== */


.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: units(1);
  padding-left: units(1);
  width: 100%;
  max-width: $u-max-width + units(2);
}
