/* ==========================================================================
   OBJECTS/WRAPPER
   ========================================================================== */


$butane-wrapper-width: 1200px !default;


.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: $butane-wrapper-width;
}
