<meta charset="utf-8" />
<title>{{ title ?? null }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
