{
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": [
    "./src/stylesheets/tools/*.scss",
    "./src/stylesheets/settings/*.scss",
     "./src/stylesheets/vendor/*.scss"
  ],
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "font-weight-notation": "numeric",
    "indentation": 2,
    "max-empty-lines": 4,
    "max-nesting-depth": 1,
    "no-invalid-double-slash-comments": true,
    "string-quotes": "single",
    "unit-case": "lower",
    "value-no-vendor-prefix": true
  }
}
