/* ==========================================================================
   COMPONENTS/OFFLINE
   ========================================================================== */


.c-offline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.c-offline__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
