/* ==========================================================================
   UTILITIES/SIZE
   ========================================================================== */


$size-fractions: 3 6 8 !default;


@mixin utility-sizes($breakpoint: null) {
  @each $value in $size-fractions {
    .u-size#{$value}of12#{$breakpoint} {
      flex-basis: auto !important;
      width: calc(100% * #{$value} / 12}) !important;
    }
  }
}


@include utility-sizes();


@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-sizes(\@#{$name});
    }
  }
}
