/* ==========================================================================
   UTILITIES/PADDINGS
   ========================================================================== */


@mixin utility-paddings($breakpoint: null) {
  @each $name, $value in $spacing-unit-modifiers {
    .u-padding-#{$name}#{$breakpoint} { padding: spacing-unit($name) !important; }
    .u-padding-top-#{$name}#{$breakpoint} { padding-top: spacing-unit($name) !important; }
    .u-padding-right-#{$name}#{$breakpoint} { padding-right: spacing-unit($name) !important; }
    .u-padding-bottom-#{$name}#{$breakpoint} { padding-bottom: spacing-unit($name) !important; }
    .u-padding-left-#{$name}#{$breakpoint} { padding-left: spacing-unit($name) !important; }
  }
}


@include utility-paddings();


@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-paddings(\@#{$name});
    }
  }
}