/* ==========================================================================
   UTILITIES/MARGINS
   ========================================================================== */


@mixin utility-margins($breakpoint: null) {
  @each $name, $value in $spacing-unit-modifiers {
    .u-margin-#{$name}#{$breakpoint} { margin: spacing-unit($name) !important; }
    .u-margin-top-#{$name}#{$breakpoint} { margin-top: spacing-unit($name) !important; }
    .u-margin-right-#{$name}#{$breakpoint} { margin-right: spacing-unit($name) !important; }
    .u-margin-bottom-#{$name}#{$breakpoint} { margin-bottom: spacing-unit($name) !important; }
    .u-margin-left-#{$name}#{$breakpoint} { margin-left: spacing-unit($name) !important; }
  }
}


@include utility-margins();


@if (variable-exists(mq-breakpoints)) {
  @each $name, $value in $mq-breakpoints {
    @include mq($from: $name) {
      @include utility-margins(\@#{$name});
    }
  }
}