/* ==========================================================================
   MAIN
   ========================================================================== */
/* ==========================================================================
   SETTINGS/VARIABLES
   ========================================================================== */
/* ==========================================================================
   TOOLS/FUNCTIONS
   ========================================================================== */
/* ==========================================================================
   TOOLS/MIXINS
   ========================================================================== */
/* ==========================================================================
   GENERIC/BASE
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  line-height: 1.6;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0; }

/**
 * A very simple reset
 */
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

a {
  text-decoration: none; }

/* ==========================================================================
   GENERIC/HEADINGS
   ========================================================================== */
h1, h2, h3,
h4, h5, h6 {
  font-family: sans-serif;
  line-height: 1.4; }

/* ==========================================================================
   OBJECTS/CONTAINER
   ========================================================================== */
.o-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  max-width: 64rem; }

/* ==========================================================================
   OBJECTS/GRID
   ========================================================================== */
.o-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.o-grid__item {
  width: 100%; }

.o-grid--gutters {
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  .o-grid--gutters > .o-grid__item {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }

/* ==========================================================================
   OBJECTS/RATIO
   ========================================================================== */
.o-ratio {
  position: relative;
  display: block;
  overflow: hidden; }
  .o-ratio:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%; }

.o-ratio__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/* ==========================================================================
   UTILITIES/FLEX-BOX
   ========================================================================== */
.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.u-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.u-flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.u-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.u-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.u-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.u-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.u-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.u-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.u-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.u-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.u-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.u-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.u-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.u-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.u-justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.u-order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.u-order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.u-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.u-order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.u-order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.u-order-last {
  -webkit-box-ordinal-group: 100000;
      -ms-flex-order: 99999;
          order: 99999; }

/* ==========================================================================
   UTILITIES/HIDE
   ========================================================================== */
/**
 * Hide visually and from screen readers.
 */
.u-hidden {
  display: none !important; }

/* ==========================================================================
   UTILITIES/MARGINS
   ========================================================================== */
.u-margin-1 {
  margin: 0.75rem !important; }

.u-margin-top-1 {
  margin-top: 0.75rem !important; }

.u-margin-right-1 {
  margin-right: 0.75rem !important; }

.u-margin-bottom-1 {
  margin-bottom: 0.75rem !important; }

.u-margin-left-1 {
  margin-left: 0.75rem !important; }

.u-margin-2 {
  margin: 1.5rem !important; }

.u-margin-top-2 {
  margin-top: 1.5rem !important; }

.u-margin-right-2 {
  margin-right: 1.5rem !important; }

.u-margin-bottom-2 {
  margin-bottom: 1.5rem !important; }

.u-margin-left-2 {
  margin-left: 1.5rem !important; }

.u-margin-3 {
  margin: 2.25rem !important; }

.u-margin-top-3 {
  margin-top: 2.25rem !important; }

.u-margin-right-3 {
  margin-right: 2.25rem !important; }

.u-margin-bottom-3 {
  margin-bottom: 2.25rem !important; }

.u-margin-left-3 {
  margin-left: 2.25rem !important; }

.u-margin-4 {
  margin: 3rem !important; }

.u-margin-top-4 {
  margin-top: 3rem !important; }

.u-margin-right-4 {
  margin-right: 3rem !important; }

.u-margin-bottom-4 {
  margin-bottom: 3rem !important; }

.u-margin-left-4 {
  margin-left: 3rem !important; }

@media (min-width: 20em) {
  .u-margin-1\@sm {
    margin: 0.75rem !important; }
  .u-margin-top-1\@sm {
    margin-top: 0.75rem !important; }
  .u-margin-right-1\@sm {
    margin-right: 0.75rem !important; }
  .u-margin-bottom-1\@sm {
    margin-bottom: 0.75rem !important; }
  .u-margin-left-1\@sm {
    margin-left: 0.75rem !important; }
  .u-margin-2\@sm {
    margin: 1.5rem !important; }
  .u-margin-top-2\@sm {
    margin-top: 1.5rem !important; }
  .u-margin-right-2\@sm {
    margin-right: 1.5rem !important; }
  .u-margin-bottom-2\@sm {
    margin-bottom: 1.5rem !important; }
  .u-margin-left-2\@sm {
    margin-left: 1.5rem !important; }
  .u-margin-3\@sm {
    margin: 2.25rem !important; }
  .u-margin-top-3\@sm {
    margin-top: 2.25rem !important; }
  .u-margin-right-3\@sm {
    margin-right: 2.25rem !important; }
  .u-margin-bottom-3\@sm {
    margin-bottom: 2.25rem !important; }
  .u-margin-left-3\@sm {
    margin-left: 2.25rem !important; }
  .u-margin-4\@sm {
    margin: 3rem !important; }
  .u-margin-top-4\@sm {
    margin-top: 3rem !important; }
  .u-margin-right-4\@sm {
    margin-right: 3rem !important; }
  .u-margin-bottom-4\@sm {
    margin-bottom: 3rem !important; }
  .u-margin-left-4\@sm {
    margin-left: 3rem !important; } }

@media (min-width: 46.25em) {
  .u-margin-1\@md {
    margin: 0.75rem !important; }
  .u-margin-top-1\@md {
    margin-top: 0.75rem !important; }
  .u-margin-right-1\@md {
    margin-right: 0.75rem !important; }
  .u-margin-bottom-1\@md {
    margin-bottom: 0.75rem !important; }
  .u-margin-left-1\@md {
    margin-left: 0.75rem !important; }
  .u-margin-2\@md {
    margin: 1.5rem !important; }
  .u-margin-top-2\@md {
    margin-top: 1.5rem !important; }
  .u-margin-right-2\@md {
    margin-right: 1.5rem !important; }
  .u-margin-bottom-2\@md {
    margin-bottom: 1.5rem !important; }
  .u-margin-left-2\@md {
    margin-left: 1.5rem !important; }
  .u-margin-3\@md {
    margin: 2.25rem !important; }
  .u-margin-top-3\@md {
    margin-top: 2.25rem !important; }
  .u-margin-right-3\@md {
    margin-right: 2.25rem !important; }
  .u-margin-bottom-3\@md {
    margin-bottom: 2.25rem !important; }
  .u-margin-left-3\@md {
    margin-left: 2.25rem !important; }
  .u-margin-4\@md {
    margin: 3rem !important; }
  .u-margin-top-4\@md {
    margin-top: 3rem !important; }
  .u-margin-right-4\@md {
    margin-right: 3rem !important; }
  .u-margin-bottom-4\@md {
    margin-bottom: 3rem !important; }
  .u-margin-left-4\@md {
    margin-left: 3rem !important; } }

@media (min-width: 61.25em) {
  .u-margin-1\@lg {
    margin: 0.75rem !important; }
  .u-margin-top-1\@lg {
    margin-top: 0.75rem !important; }
  .u-margin-right-1\@lg {
    margin-right: 0.75rem !important; }
  .u-margin-bottom-1\@lg {
    margin-bottom: 0.75rem !important; }
  .u-margin-left-1\@lg {
    margin-left: 0.75rem !important; }
  .u-margin-2\@lg {
    margin: 1.5rem !important; }
  .u-margin-top-2\@lg {
    margin-top: 1.5rem !important; }
  .u-margin-right-2\@lg {
    margin-right: 1.5rem !important; }
  .u-margin-bottom-2\@lg {
    margin-bottom: 1.5rem !important; }
  .u-margin-left-2\@lg {
    margin-left: 1.5rem !important; }
  .u-margin-3\@lg {
    margin: 2.25rem !important; }
  .u-margin-top-3\@lg {
    margin-top: 2.25rem !important; }
  .u-margin-right-3\@lg {
    margin-right: 2.25rem !important; }
  .u-margin-bottom-3\@lg {
    margin-bottom: 2.25rem !important; }
  .u-margin-left-3\@lg {
    margin-left: 2.25rem !important; }
  .u-margin-4\@lg {
    margin: 3rem !important; }
  .u-margin-top-4\@lg {
    margin-top: 3rem !important; }
  .u-margin-right-4\@lg {
    margin-right: 3rem !important; }
  .u-margin-bottom-4\@lg {
    margin-bottom: 3rem !important; }
  .u-margin-left-4\@lg {
    margin-left: 3rem !important; } }

/* ==========================================================================
   UTILITIES/WIDTHS
   ========================================================================== */
.u-width-1 {
  width: calc(100% * 1 / 12) !important; }

.u-width-2 {
  width: calc(100% * 2 / 12) !important; }

.u-width-3 {
  width: calc(100% * 3 / 12) !important; }

.u-width-4 {
  width: calc(100% * 4 / 12) !important; }

.u-width-5 {
  width: calc(100% * 5 / 12) !important; }

.u-width-6 {
  width: calc(100% * 6 / 12) !important; }

.u-width-7 {
  width: calc(100% * 7 / 12) !important; }

.u-width-8 {
  width: calc(100% * 8 / 12) !important; }

.u-width-9 {
  width: calc(100% * 9 / 12) !important; }

.u-width-10 {
  width: calc(100% * 10 / 12) !important; }

.u-width-11 {
  width: calc(100% * 11 / 12) !important; }

.u-width-12 {
  width: calc(100% * 12 / 12) !important; }

@media (min-width: 20em) {
  .u-width-1\@sm {
    width: calc(100% * 1 / 12) !important; }
  .u-width-2\@sm {
    width: calc(100% * 2 / 12) !important; }
  .u-width-3\@sm {
    width: calc(100% * 3 / 12) !important; }
  .u-width-4\@sm {
    width: calc(100% * 4 / 12) !important; }
  .u-width-5\@sm {
    width: calc(100% * 5 / 12) !important; }
  .u-width-6\@sm {
    width: calc(100% * 6 / 12) !important; }
  .u-width-7\@sm {
    width: calc(100% * 7 / 12) !important; }
  .u-width-8\@sm {
    width: calc(100% * 8 / 12) !important; }
  .u-width-9\@sm {
    width: calc(100% * 9 / 12) !important; }
  .u-width-10\@sm {
    width: calc(100% * 10 / 12) !important; }
  .u-width-11\@sm {
    width: calc(100% * 11 / 12) !important; }
  .u-width-12\@sm {
    width: calc(100% * 12 / 12) !important; } }

@media (min-width: 46.25em) {
  .u-width-1\@md {
    width: calc(100% * 1 / 12) !important; }
  .u-width-2\@md {
    width: calc(100% * 2 / 12) !important; }
  .u-width-3\@md {
    width: calc(100% * 3 / 12) !important; }
  .u-width-4\@md {
    width: calc(100% * 4 / 12) !important; }
  .u-width-5\@md {
    width: calc(100% * 5 / 12) !important; }
  .u-width-6\@md {
    width: calc(100% * 6 / 12) !important; }
  .u-width-7\@md {
    width: calc(100% * 7 / 12) !important; }
  .u-width-8\@md {
    width: calc(100% * 8 / 12) !important; }
  .u-width-9\@md {
    width: calc(100% * 9 / 12) !important; }
  .u-width-10\@md {
    width: calc(100% * 10 / 12) !important; }
  .u-width-11\@md {
    width: calc(100% * 11 / 12) !important; }
  .u-width-12\@md {
    width: calc(100% * 12 / 12) !important; } }

@media (min-width: 61.25em) {
  .u-width-1\@lg {
    width: calc(100% * 1 / 12) !important; }
  .u-width-2\@lg {
    width: calc(100% * 2 / 12) !important; }
  .u-width-3\@lg {
    width: calc(100% * 3 / 12) !important; }
  .u-width-4\@lg {
    width: calc(100% * 4 / 12) !important; }
  .u-width-5\@lg {
    width: calc(100% * 5 / 12) !important; }
  .u-width-6\@lg {
    width: calc(100% * 6 / 12) !important; }
  .u-width-7\@lg {
    width: calc(100% * 7 / 12) !important; }
  .u-width-8\@lg {
    width: calc(100% * 8 / 12) !important; }
  .u-width-9\@lg {
    width: calc(100% * 9 / 12) !important; }
  .u-width-10\@lg {
    width: calc(100% * 10 / 12) !important; }
  .u-width-11\@lg {
    width: calc(100% * 11 / 12) !important; }
  .u-width-12\@lg {
    width: calc(100% * 12 / 12) !important; } }
