/* ==========================================================================
   SETTINGS/DEFINITIONS
   ========================================================================== */


/*
   Typography
   ========================================================================== */

$global-font-size: 16px !default;
$global-line-height: 1.6 !default;

$global-font-size-h1: 48px !default;
$global-font-size-h2: 36px !default;
$global-font-size-h3: 27px !default;
$global-font-size-h4: 19px !default;
$global-font-size-h5: 14px !default;


/*
   Colors
   ========================================================================== */

$global-colors: (
  'brand-blue': blue,
  'error': #f30,
  'black': #000,
  'white': #fff,
) !default;

@function color($key) {
  @return map-get($global-colors, $key);
}


/*
   Breakpoints
   ========================================================================== */

$mq-breakpoints: (
  'sm': 480px,
  'md': 720px,
  'lg': 1024px,
  'xl': 1280px,
) !default;


/*
   Sizing
   ========================================================================== */

$global-spacing-unit: 16px !default;
