/* ==========================================================================
   SETTINGS/COLORS
   ========================================================================== */


/*
   Text
   ========================================================================== */

$color-text: color('black') !default;


/*
   General
   ========================================================================== */

$color-error: color('error') !default;


/*
   Links
   ========================================================================== */

$color-links: color('brand-blue') !default;


/*
   Buttons
   ========================================================================== */


