<!DOCTYPE html>
<html lang="en">
<head>
  {% include '_includes/head' %}
</head>
<body>
  <div class="u-hidden">{% include '_includes/icons.svg' %}</div>

  {% include '_includes/header' %}
  
  {% block body %}{% endblock %}

  {% include '_includes/footer' %}
  
  <script>
    loadjs('{{ siteUrl }}assets/js/lazysizes.min.js');
  </script>
  {% set _block = block('pageJs') %}
  {% if _block is not empty %}{{ _block|raw }}{% endif %}
</body>
</html>
