{% import '_macros' as macro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_includes/head' %}
  </head>
  <body>
    <div class="u-hidden">{% include '_includes/icons.svg' %}</div>

    {% include '_includes/header' %}

    {% block body %}{% endblock %}

    {% include '_includes/footer' %}

    {% include '_includes/scripts' %}
  </body>
</html>
